@import "tailwindcss";

@theme {
    --text-tiny: 0.75rem;
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    min-width:360px !important;
}

:root {
    width: 100%;
    height: 100%;
    font-family: 'Lexend Exa', sans-serif;
    line-height: 1.5;
    font-weight: 600;
    font-size: 16px;

    color-scheme: normal;
    color: rgba(255, 255, 255, 0.87);


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



h1 {
    font-size: 3.2em;
}



@layer utilities {

    .pawn {
        clip-path: ellipse(18% 40% at 50% 50%);
    }
}